$primary-color: rgb(63, 178, 127);
$primary-color-light: rgba(63, 178, 127, 0.5);

$darkGrey: rgb(128, 128, 137);
$mediumGrey: rgba(39, 39, 42, 0.5);
$lightGrey: rgba(39, 39, 42, 0.25);

$darkRed: rgb(241, 31, 31);
$mediumRed: rgb(240, 17, 17, 0.5);
$lightRed: rgb(240, 17, 17, 0.25);

$text-16: 16px;
$text-12: 12px;

$background-color: rgba(0, 0, 0, 0.5);
